body{
    width: 100vw;
    background-image: url(http://www.w3.org/1999/xlink);
    background-size: cover;
    background-repeat: repeat;
}

header {
    border: 2px solid #242D52;
}

.nav li a {
    font-weight: 500;
    color: #242D52;
}

.nav li a:hover {
    color: #F3603C;
}

button {
    color: #fff;
    background-color: #F3603C;
    border: 2px solid #F3603C; /* cor dos botões */
    border-radius: 20px;
    text-align: center;
    padding-top: 0 ;
}

button:hover {
    background-color: #f79b81;
    color: #fff;
    border: 2px solid #f79b81;
}

h1, h2, h6 {
    color: #242D52;
}

.number {
    background-color: #F3603C;
}

.simplify {
    background-color: #F3603C;
}

.button-simplify {
    color: #f79b81;
    border: 2px solid #f79b81;
    background-color: #fff;
}

.button-simplify:hover {
    color: #F3603C;
    background-color: #fff;
    border: 2px solid #F3603C;
    box-shadow: 5px 5px 5px #812610;
}

.socials a img:hover {
    transition: 300ms;
    transform: scale(1.4);
}

.register-input button {
    background-color: #242D52;
    color: #fff;
}

.register-input button:hover {
    background-color: #fff;
    color: #242D52;
}

.attribution {
    background-color: #F3603C;
}

.attribution p a:hover{
    background-color: #242D52;
}

.attribution span a:hover {
    background-color: #242D52;
    padding: 0 8px !important; 
    transition: 300ms;
    transform: scale(1.2);
    border: 1px solid #fff;
}