body{
    width: 100vw;
    background-image: url(http://www.w3.org/1999/xlink);
    background-size: cover;
    background-repeat: repeat;
}

header {
    border: 2px solid #242D52;
}

.nav-link {
    font-weight: 500 !important;
    color: #242D52 !important;
}

.nav-link:hover {
    color: #F3603C !important;
}

button {
    color: #fff !important;
    background-color: #F3603C !important;
    border: 2px solid #F3603C !important; /* cor dos botões */
    border-radius: 20px !important;
    text-align: center !important;
}

button:hover {
    background-color: #f79b81 !important;
    color: #fff !important;
    border: 2px solid #f79b81 !important;
}

h1, h2, h6 {
    color: #242D52;
}

.number {
    background-color: #F3603C;
}

.testimonial {
    border-radius: 15px;
    background-color: #d9d9d9 !important;
}

.indicator {
    width: 20% !important;
    height: 8px !important;
    border: 1px solid #242D52 !important;
    border-radius: 20px !important;
    margin: 0 !important;
}

.indicator.active {
    width: 20% !important;
    height: 8px !important;
    background-color: #242D52 !important;
    border-radius: 20px !important;
}

.carousel-control-prev, .carousel-control-next {
    background-color: #ffffff00 !important;
    border: none !important;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: #ffffff00 !important;
    border: none !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #F3603C !important;
    border-radius: 5px;
}

.simplify {
    background-color: #F3603C;
}

.button-simplify {
    color: #f79b81 !important;
    border: 2px solid #f79b81 !important;
    background-color: #fff !important;
}

.button-simplify:hover {
    color: #F3603C !important;
    border: 2px solid #F3603C !important;
    background-color: #fff !important;
    box-shadow: 5px 5px 5px #812610 !important;
}

.socials a img:hover {
    transition: 300ms;
    transform: scale(1.4);
}

.menu-footer li a:hover {
    color: #F3603C !important;
}

.register-input button {
    background-color: #fff !important;
    color: #242D52 !important;
    border: 1px solid #242D52 !important;
}

.register-input button:hover {
    background-color: #242D52 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    box-shadow: 5px 3px 3px #d9d9d9 !important;
}

.attribution {
    background-color: #F3603C;
}

.attribution p a:hover{
    background-color: #242D52;
}

.attribution span a:hover {
    background-color: #242D52;
    padding: 0 8px !important; 
    transition: 300ms;
    transform: scale(1.2);
    border: 1px solid #fff;
}